<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samo | Home</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Bosh Sahifa</a></li>
                <li><a href="{% url 'user' %}">Biz haqimizda</a></li>
                <li><a href="{% url 'products' %}">Biz haqimizda</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}
</body>

</html>